
.ipynb_checkpoints/1.1 Data Exploration-checkpoint.ipynb
.ipynb_checkpoints/1.2 Data Cleaning-checkpoint.ipynb
.ipynb_checkpoints/1.3 Feature Engineering-checkpoint.ipynb
.ipynb_checkpoints/2.1 Modeling Baseline-checkpoint.ipynb
